body {
  background-color: #95bcf5;
}
.app {
  background-color: #f5b9d2;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed{
  text-decoration: line-through 2px #b1edf5;
  background-color: #f5b9d2;
}

ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: #f5b9d2;
  font-family: 'Montserrat', sans-serif;
}

li {
  list-style: none;
  padding: 3px;
  margin: 0;
  background-color: #e3e9f4;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #401a49;
}

.container {
  display: flex;
  justify-content: center;
}

img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.add {
  margin-top: 5px;
  background: #b1edf5;
  padding: 10px;
  border: none;
  width: 70%;
  color: #401a49;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.delete {
  background: #95bcf5;
  padding: 10px;
  border: none;
  width: 70%;
  margin-bottom: 5px;
  color: #401a49;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

input {
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid #95bcf5;
  background-color: #e3e9f4;
}

